body{
    margin:0;
    

    
}


/******** header ******/
Header{
    background-color: #85C88A;
    color:black !important;
    padding-bottom: 10px;
  
 
}

.nav-brand{
    font-size: 30px !important;
    color:black !important;
}

.nav-link{
    margin-left: 20px !important;
    color:black !important;
}


.contact-btn{
    margin-left: 100px;
    
}

.button:hover{
color:#85C88A !important;

}
.button{
    margin-left: 20px;
    width:170px;
    color:black !important;
    border-color: black !important;
}


/******topconatiner******/


.solution-btn{
    background-color:black !important;
    font-size: 15px !important;
    width: 150px;
}
.solution-btn:hover{
    background-color:white !important;
    color:black !important;
}
.topIntroPage{
    
    

    background-color: #85C88A;
  background-image: url("front.jpg");
height:400px;

 color:white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
  padding-left: 100px;
 
  
   
    
}




.topIntroPage h1 {
    font-size:60px;
    padding-top: 100px; 
  
    
}
.topIntroPage p{
    font-size: 20px;
}

/********** Footer ********/
footer{
    background-color: #85C88A;
    color:white;
    padding:20px;
    margin-top: 40px;
    
    
   
  
}

footer .container {
    max-width: 1170px;
    margin: auto;
}
footer li{
list-style: none !important;
}

footer a{
    text-decoration: none;
    color:white;
    cursor: pointer;
   
}
footer .fontawesome-style{
    margin-right: 20px;
}
footer .fontawesome-style:hover{
    transition: all 1s;
    animation:rotatefont 1s linear infinite alternate-reverse;
    color:black;
}
@keyframes rotatefont{
    0%{
        transform: scale(0.6);

    }
    100% {
        transform: scale(1.2);
    }
}
footer a:link:hover{
    color:black;
}
footer hr{
    
    height: 3px !important;
    width:85% !important;
    margin-left:100px ;

}
footer li h5{
color: antiquewhite;
}
.copyRights{
    text-align: center;
    color:black;
    
}
.col{
    margin-right: 100px;

}

 .column{
    margin-left: 350px !important;
}

/****** StoryContent ******/
.reviewContent hr{
    height: 2px !important;
    width:86% !important;
 
    margin:60px  70px  100px 70px;
}

.reviewHeading{
    text-align: center;
    margin-top: 30px;
    color: #85C88A;
}



.review{
    margin:40px 70px ;
    width:350px;
text-align: center;
   border :1px !important;
    border-radius: 10px !important;
  
}


    .column1 {
        
        box-shadow: 10px 10px #f4fefd;
}


.column2{
    box-shadow: 10px 10px #FAEEE7;
    
}

   

.column3{
    box-shadow: 10px 10px #F7F7F7;
   
    
}


.aboutImg{
 
    height: 600px;
    
}

.aboutSlide{
    text-align: center;
    margin:50px 50px 50px 100px;
    
}
.aboutContent{
    padding:20px;
}
.carousel-indicators button:hover{
    background-color: black;
}

/* Home Page Intro  */

.homePageIntro{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 40px;
 
}
.homePageIntro h1{
    margin-bottom:50px;
    color:#85C88A;
}

/* Login form  */

.loginForm{
   border: 1px solid;
   border-radius: 10px;
   padding: 30px;
   width: 50%;
   height:270px;
   margin-bottom: 50px;
   text-align: left;
   flex-grow: 1;
   
   
}
.registerForm{
    border: 1px solid;
    border-radius: 10px;
    padding: 30px;
    width: 100%;
    margin-bottom: 150px;
  
 }
main{
    
    min-height: 100vh !important;
}
 

.offeringImg{
    background-image: url("offering.jpg");
    
    background-repeat: no-repeat;
  background-size: cover;
  margin:auto 20px;
    
}
.offeringImg h2{
    padding-top:200px;
    padding-bottom:200px;
}

.offeringPage h1{
    margin:40px auto;
}